:root {
    box-sizing: border-box;
    font-size: clamp(16px, 2.5vw, 64px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root,
body,
.content-wrapper {
    height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.content-wrapper {
    display: grid;
    text-align: center;
    place-content: center;
    max-width: 45ch;
    margin-inline: auto;
    gap: 2.5ch;
}

.content-wrapper > * {
    margin: 0;
}
.content-wrapper img {
    margin: 0 auto;
    border: 3px solid #313234;
}
.directions {
    display: flex;
    flex-flow: column;
    gap: 2ch;
    background-color: hsl(210, 12%, 74%);
    margin: 0;
    padding: 0;
}

.directions > * {
    background-color: hsl(210, 12%, 94%);
    padding:0;
    padding-inline-start: 2.5ch;
    padding-block-start: 2.5ch;
    margin: 0;
    list-style-position: inside;
}

.directions > *::marker {
    content: attr(data-title);
    font-size: 2.5rem;
    padding-block: 1.5rem;
    padding-inline: 1rem;
    display: block;
    position: sticky;
    top: 1.5rem;
}

h1 {
    font-weight: 900;
    font-size: 4rem;
}

p {
    font-weight: 500;
}